/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;   /* smooth scrolling */
  scroll-padding-top: 80px;  /* equal to your navbar height */
}


h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

section {
  padding: 4rem 10%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}
