<section id="hero" class="hero">
  <div class="hero-container">
    
    <!-- Left: Text -->
    <div class="hero-text">
      <h1>
        Hi, I'm <span class="highlight">Farheen Siddiqui</span>
      </h1>
      <h2 class="animated-role">MEAN Stack Developer</h2>
      <p>
        I build scalable, secure, and user-friendly web applications using 
        <b>MongoDB</b>, <b>Express.js</b>, <b>Angular</b>, and <b>Node.js</b>.
      </p>
      <a href="assets/Farheen_Siddiqui_Resume.pdf" class="btn" download>
        Download Resume
      </a>
    </div>

    <!-- Right: Profile Pic -->
    <div class="hero-image">
      <img src="/assets/mypic.jpeg" alt="" />
    </div>
  </div>
</section>
